head
    title #{title}
    link(href='#{static}/stylesheets/style.css', rel='stylesheet')
    link(href='/components/foundation/css/normalize.css', rel='stylesheet')
    link(href='/components/foundation/css/foundation.css', rel='stylesheet')