#header
    nav.top-bar.docs-bar.hide-for-small
        ul.title-area
            li.name
                h1
                    a(href="/") coolshop
        section.top-bar-section
            if user
                ul.right
                    li
                        a(href="/") 首页
                    li
                        a(href="/user/#{user.userId}") #{user.userId}
                    li
                        a(href="/logout") 登出
            else
                ul.right
                    li
                        a(href="/") 首页
                    li
                        a(href="/signup") 注册
                    li
                        a(href="/login") 登录