extends layout
block content
    div#notify
        if typeof(error) != 'undefined' && error
            | Notify信息:
            p #{error}
        if typeof(success) != 'undefined' && success
            | Notify信息:
            p #{success}
    div.back
        - var ref = typeof(referer) !== 'undefined' ? referer : '/'
        a(href="#{ref}") 返回